<?xml version="1.0" encoding="utf-8"?>

<!-- mandatory for each Android application -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.mayflower.antipatterns"
    android:versionCode="1"
    android:versionName="0.0.1" >

    <!-- support all screens -->
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:normalScreens="true" />

    <!-- permissions ( mandatory ) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- sdk support -->
    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="22" />

    <!-- all application components - attribute android:name and the Application-context-class are history! -->
    <application
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/appname"
        android:theme="@style/AppTheme"
        >

        <!-- startup activity -->
        <activity android:name=".AntiPatterns" android:label="@string/appname" android:launchMode="singleTop" android:configChanges="orientation|keyboard|keyboardHidden|locale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- login activity -->
        <activity android:name=".state.auth.AntiPatternsStateLogin" android:launchMode="singleTop" android:configChanges="orientation|keyboard|keyboardHidden|locale" />

        <!-- register activity -->
        <activity android:name=".state.auth.AntiPatternsStateRegister" android:launchMode="singleTop" android:configChanges="orientation|keyboard|keyboardHidden|locale" />

        <!-- lost password activity -->
        <activity android:name=".state.auth.AntiPatternsStateLostPassword" android:launchMode="singleTop" android:configChanges="orientation|keyboard|keyboardHidden|locale" />

        <!-- settings activity -->
        <activity android:name=".state.AntiPatternsStateSettings" android:launchMode="singleTop" android:configChanges="orientation|keyboard|keyboardHidden|locale" android:screenOrientation="portrait" />

        <!-- acclaim activity -->
        <activity android:name=".state.acclaim.AntiPatternsStateAcclaim" android:launchMode="singleTop" android:configChanges="orientation|keyboard|keyboardHidden|locale" android:screenOrientation="portrait" />

        <!-- title-splash activity -->
        <activity android:name=".state.AntiPatternsStateTitleSplash" android:launchMode="singleTop" android:configChanges="orientation|keyboard|keyboardHidden|locale" android:screenOrientation="portrait" />

        <!-- pivotal activity -->
        <activity android:name=".state.pivotal.AntiPatternsStatePivotal" android:launchMode="singleTop" android:configChanges="orientation|keyboard|keyboardHidden|locale" android:screenOrientation="portrait" />

        <!-- google Places activity -->
        <activity android:name=".state.AntiPatternsStateGooglePlaces" android:launchMode="singleTop" android:configChanges="orientation|keyboard|keyboardHidden|locale" android:screenOrientation="portrait" />

        <!-- new entry activity -->
        <activity android:name=".state.AntiPatternsStateNewEntry" android:launchMode="singleTop" android:configChanges="orientation|keyboard|keyboardHidden|locale" android:screenOrientation="portrait" />

        <!-- foreign profile activity -->
        <activity android:name=".state.AntiPatternsStateForeignProfile" android:launchMode="singleTop" android:configChanges="orientation|keyboard|keyboardHidden|locale" android:screenOrientation="portrait" />

        <!-- detailed image activity -->
        <activity android:name=".state.AntiPatternsStateDetailedImage" android:launchMode="singleTop" android:configChanges="orientation|keyboard|keyboardHidden|locale" android:screenOrientation="portrait" />

        <!-- image properties activity -->
        <activity android:name=".state.AntiPatternsStateImageProperties" android:launchMode="singleTop" android:configChanges="orientation|keyboard|keyboardHidden|locale" android:screenOrientation="portrait" />

        <!-- follow details activity -->
        <activity android:name=".state.AntiPatternsStateFollowDetails" android:launchMode="singleTop" android:configChanges="orientation|keyboard|keyboardHidden|locale" android:screenOrientation="portrait" />

        <!-- find friends results -->
        <activity android:name=".state.AntiPatternsStateFindFriendsResults" android:launchMode="singleTop" android:configChanges="orientation|keyboard|keyboardHidden|locale" android:screenOrientation="portrait" />

        <!-- search images results -->
        <activity android:name=".state.AntiPatternsStateSearchImagesResults" android:launchMode="singleTop" android:configChanges="orientation|keyboard|keyboardHidden|locale" android:screenOrientation="portrait" />

    </application>

</manifest>
