<?xml version="1.0" encoding="utf-8"?>

<!-- mandatory for each Android application -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.mayflower.antipatterns"
    android:versionCode="1"
    android:versionName="0.0.1" >

    <!-- support all screens -->
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:normalScreens="true" />

    <!-- permissions ( mandatory ) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- sdk support -->
    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="22" />

    <!-- all application components - attribute android:name and the Application-context-class are history! -->
    <application
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/appname"
        android:theme="@style/AppTheme2"
        >

        <!-- startup activity -->
        <activity android:name=".AntiPatternsMainScreen" android:label="@string/appname" android:launchMode="singleTop" android:configChanges="orientation|keyboard|keyboardHidden|locale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- details activity -->
        <activity android:name=".AntiPatternsDetailScreen" android:launchMode="singleTop" android:configChanges="orientation|keyboard|keyboardHidden|locale" />

    </application>

</manifest>
